<div class="page" [class.inBackground]="isBottomDialogShown">
  <main>
    <header>
      <div class="flex">
        <button (click)="toggleFilterUncompleted()">{{todoService.filterUncompleted ? 'Offen' : 'Alle'}}</button>
        <span class="grow-1"></span>
        <button (click)="showBottomDialog()">Hinzufügen</button>
      </div>
      <h1>Todos</h1>
    </header>
    <app-todo-list [todos]="todoBs | async"
                   (onSelect)="showBottomDialog($event)"
                   (onDelete)="deleteTodo($event)"
    ></app-todo-list>
  </main>
</div>
<div class="bottom-dialog" [class.show]="isBottomDialogShown">
  <app-todo-edit *ngIf="selectedTodo" [todo]="selectedTodo"
                 (onSave)="save($event)"
                 (onCancel)="hideBottomDialog()"
  ></app-todo-edit>
</div>
