$colorPrimary: #5E0029;
$colorPrimaryContrast: white;
$colorBackground1: white;
$colorBackground2: #f8f5f5;
$colorBackground3: #dcdada;
$colorBackgroundContrast1: black;
$colorBackgroundContrast2: #5e5e5e;
